.homeContainer {
  display: flex;
  padding-top: 8rem;
  padding-left: 8rem;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.textStyleMedium {
  padding-top: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 66.666667%;
  color: black;
}

.welcomeText {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}
