.nav {
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.navItem {
  color: white;
  font-size: clamp(3rem, 8vw, 5rem);
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}
